[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
autopep8 = "*"

[packages]
django = "*"

[requires]
python_version = "3.7"
PYTHON_BIN_PATH="$(python3 -m site --user-base)/bin"
PATH="$PATH:$user_BIN_puthon3"
